[submodule "third_party/picohttpparser/picohttpparser"]
	path = third_party/picohttpparser/picohttpparser
	url = https://github.com/h2o/picohttpparser.git
[submodule "madoka"]
	path = madoka
	url = https://github.com/dacci/madoka.git
[submodule "third_party/googleurl/url"]
	path = third_party/googleurl/url
	url = https://github.com/dacci/google-url.git
